.blog {
    padding: 40px 0;

    &__title {
        font-size: 38px;
        line-height: 40px;
        padding-bottom: 20px;
        color: red;
    }

    &__post1 {
        padding: 30px;
        background: #EDF2F4;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px;
        align-items: center;
        border-radius: 20px;
    }

    &__post2 {
        margin: 30px 0;
        padding: 30px;
        background: #EDF2F4;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 40px;
        align-items: center;
        border-radius: 20px;
    }

    &__post3 {
        margin: 30px 0;
        padding: 30px;
        background: #EDF2F4;
        border-radius: 20px;
    }

    &__post__left {
        img {
            width: 100%;
        }
    }

    &__post__title {
        padding: 15px 0;
    }

}

@media (max-width:1000px) {
    .blog {

        &__post1,
        &__post2 {
            padding: 30px;
            background: #EDF2F4;
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }

        &__post__right {
            img {
                width: 100%;
            }
        }
    }
}